<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/players/new.css" />
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <p>
    Please first ensure that the Player is not in the dropdown 
    <select>
      <% players.forEach(player => { %>
        <option><%= player.name %></option>
      <% }) %>
    </select>
  </p>
  <form id="add-player-form" action="/players" method="POST">
    <label for="name-input">Name:</label>
    <input type="text" name="name" id="name-input">
    <label for="position-input">Position:</label>
    <select name="position" id="position-select">
      <option value="GK">GK</option>
      <option value="LFB">LFB</option>
      <option value="RFB">RFB</option>
      <option value="CB">CB</option>
      <option value="Sweeper">Sweeper</option>
      <option value="LMF">LMF</option>
      <option value="DMF">DMF</option>
      <option value="RMF">RMF</option>
      <option value="AMF">AMF</option>
      <option value="Central">Central</option>
      <option value="Striker">Striker</option>
    </select>
    <label>
      Injury?
      <input 
        type="checkbox" 
        name="injury" 
        checked
				id="injury-input"/>
    </label>
    <button type="submit">Add Player</button>
  </form>
<h2>All the Players</h2>
<% if (players.length) {%>
<table id="list">
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%# Oh hey, this is an ejs comment! It starts with a # %>
    <% players.forEach(player => { %>
      <tr>
        <td>⚽️🏃🏼</td>
        <td><%= player.name %></td>
        <td>
          <form id="delete-form" action="/players/<%= player._id %>?_method=DELETE" method="POST">
            <button id="delete-button">X</button>
          </form>
        </td>
      </tr>
    <% }) %>
  </tbody>
</table>
<% } else { %>
  <h2>There is no player yet!</h2>
  <% } %>
</main>

<%- include('../partials/footer') %>