<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/teams/new.css" />
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <form id="add-team-form" action="/teams/<%=team._id %>?_method=PUT" method="POST">
    <label for="name-input">Name:</label>
    <input type="text" value="<%= team.name %>" name="name" id="name-input">
    <label for="formation-input">Formation:</label>
    <input type="text" value="<%= team.formation %>" name="formation" id="formation-input">
    <label for="GK-input">GK:</label>
    <select name="GK">
      <% players.forEach(player => { %>
        <option value="<%= player._id %>"><%= player.name %></option>
      <% }) %>
    </select>
    <label for="LFB-input">LFB:</label>
    <select name="LFB">
      <% players.forEach(player => { %>
        <option value="<%= player._id %>"><%= player.name %></option>
      <% }) %>
    </select>
    <label for="RFB-input">RFB:</label>
    <select name="RFB">
      <% players.forEach(player => { %>
        <option value="<%= player._id %>"><%= player.name %></option>
      <% }) %>
    </select>
    <label for="CB-input">CB:</label>
    <select name="CB" >
      <% players.forEach(player => { %>
        <option value="<%= player._id %>"><%= player.name %></option>
      <% }) %>
    </select>
    <label for="Sweeper-input">Sweeper:</label>
    <select name="Sweeper">
      <% players.forEach(player => { %>
        <option value="<%= player._id %>"><%= player.name %></option>
      <% }) %>
    </select>
    <label for="LMF-input">LMF:</label>
    <select name="LMF">
      <% players.forEach(player => { %>
        <option value="<%= player._id %>"><%= player.name %></option>
      <% }) %>
    </select>
    <label for="RMF-input">RMF:</label>
    <select name="RMF">
      <% players.forEach(player => { %>
        <option value="<%= player._id %>"><%= player.name %></option>
      <% }) %>
    </select>
    <label for="DMF-input">DMF:</label>
    <select name="DMF">
      <% players.forEach(player => { %>
        <option value="<%= player._id %>"><%= player.name %></option>
      <% }) %>
    </select>
    <label for="AMF-input">AMF:</label>
    <select name="AMF">
      <% players.forEach(player => { %>
        <option value="<%= player._id %>"><%= player.name %></option>
      <% }) %>
    </select>
    <label for="Central-input">Central:</label>
    <select name="Central">
      <% players.forEach(player => { %>
        <option value="<%= player._id %>"><%= player.name %></option>
      <% }) %>
    </select>
    <label for="Striker-input">Striker:</label>
    <select name="Striker">
      <% players.forEach(player => { %>
        <option value="<%= player._id %>"><%= player.name %></option>
      <% }) %>
    </select>
    <button type="submit">Save Team</button>
  </form>
</main>

<%- include('../partials/footer') %>