<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/teams/index.css">
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <table id="list">
    <thead>
      <tr>
        <th>Name</th>
        <th>Formation</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% teams.forEach(team => { %>
        <tr>
          <td><%= team.name %></td>
          <td><%= team.formation %></td>
          <td><a href="/teams/<%= team._id %>">DETAILS</a></td>
          <td>
            <form action="/teams/<%= team._id %>?_method=DELETE" method="POST">
              <button>X</button>
            </form>
          </td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</main>

<%- include('../partials/footer') %>
