<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/teams/new.css" />
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <img src="../images/352_rotater.png" alt="soccer-position">
  <p>
    Please first ensure that the team is not in the dropdown 
    <select>
      <% teams.forEach(team => { %>
        <option value="<%= team._id %>"><%= team.name %></option>
      <% }) %>
    </select>
  </p>
  <form id="add-team-form" action="/teams" method="POST">
    <label for="name-input">Name:</label>
    <input required type="text" name="name" id="name-input">
    <label for="formation-input">Formation:</label>
    <input required type="text" name="formation" id="formation-input">
    <label for="GK-input">GK (GoalKeeper):</label>
    <select name="GK">
      <% players.forEach(player => { %>
        <option value="<%= player._id %>"><%= player.name %></option>
      <% }) %>
    </select>
    <label for="LCB-input">LCB (Left Center Back):</label>
    <select name="LCB">
      <% players.forEach(player => { %>
        <option value="<%= player._id %>"><%= player.name %></option>
      <% }) %>
    </select>
    <label for="RCB-input">RCB (Right Center Back):</label>
    <select name="RCB">
      <% players.forEach(player => { %>
        <option value="<%= player._id %>"><%= player.name %></option>
      <% }) %>
    </select>
    <label for="CB-input">CB (Center Back):</label>
    <select name="CB" >
      <% players.forEach(player => { %>
        <option value="<%= player._id %>"><%= player.name %></option>
      <% }) %>
    </select>
    <label for="LDM-input">LDM (Left Defensive Midfielder):</label>
    <select name="LDM">
      <% players.forEach(player => { %>
        <option value="<%= player._id %>"><%= player.name %></option>
      <% }) %>
    </select>
    <label for="RDM-input">RDM (Right Defensive Midfielder):</label>
    <select name="RDM">
      <% players.forEach(player => { %>
        <option value="<%= player._id %>"><%= player.name %></option>
      <% }) %>
    </select>
    <label for="CAM-input">CAM (Center Attacking Midfielder):</label>
    <select name="CAM">
      <% players.forEach(player => { %>
        <option value="<%= player._id %>"><%= player.name %></option>
      <% }) %>
    </select>
    <label for="LM-input">LM (Left Midfielder):</label>
    <select name="LM">
      <% players.forEach(player => { %>
        <option value="<%= player._id %>"><%= player.name %></option>
      <% }) %>
    </select>
    <label for="RM-input">RM (Right Midfielder):</label>
    <select name="RM">
      <% players.forEach(player => { %>
        <option value="<%= player._id %>"><%= player.name %></option>
      <% }) %>
    </select>
    <label for="LS-input">LS (Left Striker):</label>
    <select name="LS">
      <% players.forEach(player => { %>
        <option value="<%= player._id %>"><%= player.name %></option>
      <% }) %>
    </select>
    <label for="RS-input">RS (Right Striker):</label>
    <select name="RS">
      <% players.forEach(player => { %>
        <option value="<%= player._id %>"><%= player.name %></option>
      <% }) %>
    </select>
    <label for="Captain-input">Captain:</label>
    <select name="Captain">
      <% players.forEach(player => { %>
        <option value="<%= player._id %>"><%= player.name %></option>
      <% }) %>
    </select>
    <button type="submit">Add Team</button>
  </form>
</main>

<%- include('../partials/footer') %>