<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/teams/show.css">
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <div>
    Your team: <%= team.name %>
    <a href="/teams/<%= team._id %>/edit">
      <button>Edit Team</button>
    </a>
  </div>
  <div>Formation: </div>
    <div><%= team.formation %></div>
  <table id="list">
    <thead>
      <tr>
        <th>Position</th>
        <th>Name</th>
        <th>injury</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <td>👉🏼Captain👍🏼</td>
          <td><%= team.Captain.name %></td>
          <td><%= team.Captain.injury %></td>
        </tr>
        <tr>
          <td>GK</td>
          <td><%= team.GK.name %></td>
          <td><%= team.GK.injury %></td>
        </tr>
        <tr>
          <td>LCB</td>
          <td><%= team.LCB.name %></td>
          <td><%= team.LCB.injury %></td>
        </tr>
        <tr>
          <td>RCB</td>
          <td><%= team.RCB.name %></td>
          <td><%= team.RCB.injury %></td>
        </tr>
        <tr>
          <td>CB</td>
          <td><%= team.CB.name %></td>
          <td><%= team.CB.injury %></td>
        </tr>
        <tr>
          <td>LDM</td>
          <td><%= team.LDM.name %></td>
          <td><%= team.LDM.injury %></td>
        </tr>
        <tr>
          <td>RDM</td>
          <td><%= team.RDM.name %></td>
          <td><%= team.RDM.injury %></td>
        </tr>
        <tr>
          <td>LM</td>
          <td><%= team.LM.name %></td>
          <td><%= team.LM.injury %></td>
        </tr>
        <tr>
          <td>RM</td>
          <td><%= team.RM.name %></td>
          <td><%= team.RM.injury %></td>
        </tr>
        <tr>
          <td>CAM</td>
          <td><%= team.CAM.name %></td>
          <td><%= team.CAM.injury %></td>
        </tr>
        <tr>
          <td>LS</td>
          <td><%= team.LS.name %></td>
          <td><%= team.LS.injury %></td>
        </tr>
        <tr>
          <td>RS</td>
          <td><%= team.RS.name %></td>
          <td><%= team.RS.injury %></td>
        </tr>
    </tbody>
  </table>
</main>

<%- include('../partials/footer') %>